.messages {
  --maxwidth: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--maxwidth), 1fr));
  width: 100%
}

@media (max-width: 560px) {
  .messages {
    --maxwidth: 100%;
  }
}