.link {
  position: relative;
  opacity: 70%;
  transition: all .1s ease-in-out;
  border-radius: 50%;
}

.link:hover {
  opacity: 100%;
}

.link:active {
  transform: scale(.90);
}

.link .link-icon {
  position: relative
}