div.message {
  padding: 7.5px 12.5px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  font-size: 80%;
  font-weight: 350;

  &:hover {
    backdrop-filter: var(--message-brightness);
  }
}

div.message div.avatar {
  margin-right: var(--avatar-margin);
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.message div.author-n-date {
  grid-column: 2;
  display: grid;
  gap: 10px;
  width: fit-content;

  & span.date {
  align-content: center;
  color: #8f8f8f;
  font-size: 75%;

  &::selection {
    background-color: transparent;
  }
}
}

div.message {
  & div.author-n-date {
    grid-template-columns: auto 1fr;
  }
  & div.bot-n-date {
    grid-template-columns: auto auto 1fr;
  }
}


div.message div.author-n-date span.author {
  display: grid;
  grid-template-columns: auto auto;

  & span.bot-tag {
  background-color: var(--discord-blue);
  padding: .5ch .8ch;
  border-radius: 5px;
  font-size: 70%;
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto;
  font-weight: 700;
  color: #fff;
  width: fit-content;
  margin-left: 5px;
  transform: scale(.95);
  cursor: default;

  & img {
    width: 2ch;
    scale: 1.35;
    transform: translate(-1px, -.5px);

    &::selection {
      background-color: transparent;
    }
  }

  &::selection {
    background-color: transparent;
  }
}
}

div.message div.content {
  grid-column: 2;
  color: var(--color);
  width: fit-content;
}